<form class="ui form" action="/comment/{{member.id}}/addcomment/{{assessment.assessmentid}}" method="POST">
  <div class="ui field">
    <textarea rows="2" name="comment">  </textarea>
  </div>
  <button class="ui blue submit button"> Update </button>
</form>