<section class="ui segment">
  <div class="ui seven small statistics">
    <div class="statistic">
      <div class="text value">
        Current Goal Date:
      </div>
      <div class="label">
      {{member.goal.date}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Weight
      </div>
      <div class="label">
        {{member.goal.weight}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Chest
      </div>
      <div class="label">
        {{member.goal.chest}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Thigh
      </div>
      <div class="label">
        {{member.goal.thigh}}
      </div>
    </div>
  </div>
</section>