<h2>
  Set A Goal
</h2>
<form class="ui segment form" action="/dashboard/addassessment" method="POST">
  <div class="ui calendar" id="date_calendar">
    <div class="ui input left icon">
      <i class="calendar icon"></i>
      <input type="text" placeholder="Date">
    </div>
  </div>
</form>

<script>
$('#date_calendar')
  .calendar({
    type: 'date'
  })
;
</script>
