<section class="ui segment">
  <div class="ui small statistic">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      {{name}}
      </div>
    </div>
</section>