<section class="ui segment">
  <div class="ui two small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      {{member.name}}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
      </div>
</section>