{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> Play Gym </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
<div class="column">
    <img class="ui image" src="https://cdn.glitch.com/7611a56d-d772-4476-bfe2-4a3110437f8f%2Fabout.jpg?v=1598963208418">
  </div>
</section>